body {
color: white;
background: rgb(59, 14, 4);
margin: 0px;
font-family: "MedievalSharp", cursive;
margin-bottom: 100px;
}

main {
        flex: 1;
    }

    footer {
        background-color: rgb(59, 14, 4);
        text-align: center;
        padding: 10px;
    }

header {
border-bottom: solid 2px rgb(167, 55, 12);
padding: 20px;
font-size: 36px;
color: rgb(255, 255, 255);
}

.chamada {
        background: rgb(22, 20, 19);
        padding-bottom: 55px;
        padding-top: 55px;
        display: flex;
        justify-content:center;
}

div {
        padding-right: 3%;
}
p {
        justify-content: center;
        padding-left: 3%;
}

h1 {
        padding-left: 2.5%;
}

h2 {
        font-size: 40px;
        border-bottom: solid 6px rgb(167, 55, 12);
}

h3 {
        font-size: 30px;
        border-bottom: solid 1px rgb(167, 55, 12);
}

.chamada-texto{
margin-right: 2%;
font-size: 20px;
}

.cat-01-analise {
     display: flex;
     overflow-x: auto;
     gap: 10px;
}

.an-s01 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        margin-top: 50px;

}

.cat-01-analise img {
        opacity: 0.4;
        height: 200px; 
}

.cat-01-analise img:hover {
        opacity: 1.0;
        border: 4px solid red; 
}

